<div class="new_car_form">
  <%= form_for([:admin, Car.new], html: {class:"form-horizontal"}) do |f| %>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <div class="col-md-12">
            <%= f.text_field :brand, placeholder: "Brand", class:"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <%= f.text_field :model, placeholder: "Model", class:"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <%= f.select(:fuel, options_for_select([["", ""], ["Diesel", "Diesel"], ["Gasoline", "Gasoline"]], :selected => @car.fuel), {}, {class:"form-control"}) %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <div class="col-md-12">
            <%= f.text_field :km, placeholder: "Kilometers", class:"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <%= f.text_field :year, placeholder: "Year", class:"form-control" %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-12">
            <%= f.number_field :price, placeholder: "Price", class:"form-control" %>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-12">
        <%= f.text_area :description, placeholder:"Description", rows: 5, class:"form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-3">
        <%= f.label :car_image, "Upload image:", class:"car_upload_image_label" %>
        <%= f.file_field :car_image, class:"form-control" %>
      </div>
    </div>
    <div class="actions">
      <%= f.submit "Create Car", class:"btn btn-success" %>
    </div>
  <% end %>
</div>
